h1 {
	color: #FF0000;
	/*border-color: purple;
	border-width: 4px;
	border-style: solid;*/
	border: 1px solid red;
}
li {
	/*color: rgb(0, 255, 0, 0.6);*/
}
h4 {

	background: red;
}
body {
	background: pink;
	/*background: url(https://i.pinimg.com/originals/b6/07/95/b60795007716db1797bf6245dda97361.jpg);
	background-repeat: no-repeat;
	background-size: cover; */
}
